:root {
  --purple: hsla(277, 91%, 57%, 1);
}

* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Rubic-Italic";
  src: url(./assets/fonts/static/Rubik-Italic.ttf);
}
@font-face {
  font-family: "Rubic-Medium";
  src: url(./assets/fonts/static/Rubik-Medium.ttf);
}
@font-face {
  font-family: "Rubic-Regular";
  src: url(./assets/fonts/static/Rubik-Regular.ttf);
}
